Repository tueda/paramcard: changes, and which pre-commit hooks are due for each by the changed paths.
All: extract-examples, fypp, flint

extract-examples:
  name: Run extract-examples
  entry: python3 scripts/extract-examples.py
  language: python

fypp:
  name: Run fypp
  entry: python3 scripts/run-fypp.py
  language: python
  additional_dependencies:
  - fprettify==0.3.7
  - fypp==3.1

flint:
  name: Run Fortran linter
  entry: python3 scripts/flint.py
  language: python

refactor: split paramcard_{f77,util}.fypp from paramcard.fypp
  scripts/run-fypp.py
  src/common.fypp
  src/paramcard.fypp
  src/paramcard_f77.fypp
  src/paramcard_util.fypp
Due: fypp, flint

style: add "DO NOT EDIT" comment at top of generated files
  scripts/run-fypp.py
  src/paramcard.f90
  test/test-paramcard.f90
  test/test-paramcard_77.f90
  test/test-paramcard_util.f90
  test/test_util.f90
Due: flint

fix: forgotten library initialization (#3, #4)
  src/paramcard.f90
  src/paramcard.fypp
Due: fypp, flint

docs(changelog): CHANGELOG for 0.2.1
  CHANGELOG.md
Due: extract-examples

chore(release): bump version to 0.2.1
  README.md
  fpm.toml
  src/paramcard.f90
Due: extract-examples, flint

chore: bump version to 0.2.2-dev
  src/paramcard.f90
Due: flint

chore: update dev-dependencies
  .pre-commit-config.yaml
Due: none

chore: update pre-commit configuration
  .pre-commit-config.yaml
Due: none

build: fix a mypy error in a helper script
  scripts/extract-examples.py
Due: none

ci: use the setup-fortran action
  .github/workflows/test.yml
Due: none

docs(readme): add brief API documentation
  README.md
  example/demo77.f
  scripts/extract-examples.py
Due: extract-examples, flint

fix: warning "Legacy Extension: Comma before i/o item list"
  src/paramcard.f90
  src/paramcard.fypp
Due: fypp, flint

docs(readme): add example output
  README.md
Due: extract-examples

docs(readme): add CPM integration
  README.md
  scripts/make-release.sh
Due: extract-examples

chore: update copyright year
  LICENSE
  src/paramcard.f90
Due: flint

docs(changelog): CHANGELOG for 0.2.2
  CHANGELOG.md
Due: extract-examples

chore(release): bump version to 0.2.2
  README.md
  fpm.toml
  src/paramcard.f90
Due: extract-examples, flint

chore: bump version to 0.2.3-dev
  src/paramcard.f90
Due: flint

chore: update pre-commit config
  .pre-commit-config.yaml
Due: none

ci: save pip caches
  .github/workflows/lint.yml
Due: none

ci: test old versions of gfortran on containers
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

ci: add gfortran 13
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

ci: test Intel compilers
  .github/workflows/test.yml
Due: none

build!: support fpm >= 0.8 (#5)
  .github/workflows/test.yml
  README.md
  fpm.toml
Due: extract-examples

docs(changelog): CHANGELOG for 0.2.3
  CHANGELOG.md
Due: extract-examples

chore: change fpm package info
  fpm.toml
Due: none

chore(release): bump version to 0.2.3
  README.md
  fpm.toml
  src/paramcard.f90
Due: extract-examples, flint

chore: bump version to 0.2.4-dev
  src/paramcard.f90
Due: flint

ci: freeze python==3.11
  .github/workflows/lint.yml
Due: none

docs(readme): fix broken badge
  README.md
Due: extract-examples

ci: update workflows
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

ci: gfortran 14
  .github/workflows/test.yml
Due: none

chore(pre-commit): update fprettify URL
  .pre-commit-config.yaml
Due: none

chore: upgrade dev-dependencies
  .pre-commit-config.yaml
  fpm.toml
Due: none

chore: upgrade dev-dependencies
  .pre-commit-config.yaml
Due: none

ci: test
  .github/workflows/test.yml
Due: none

Path conditions:
  extract-examples: any of: \.md$
  fypp: any of: \.fypp$
  flint: any of: \.f|\.F|\.f90|\.F90|\.fypp$
